# Servidor
PORT=4000
JWT_SECRET=supersecret_jwt
CORS_ORIGINS=http://192.168.1.247:*,http://localhost:*,http://127.0.0.1:*

# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=asistencia_db
DB_NAME_TEST=asistencia_db_test
